<a href="https://colab.research.google.com/github/R786P/data-science-roadmap-2025_2026/blob/main/fooocus_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pygit2==1.15.1
%cd /content
!git clone https://github.com/lllyasviel/Fooocus.git
%cd /content/Fooocus
!python entry_with_update.py --share --always-high-vram

In [ ]:
# 01_descriptive_stats.ipynb
import pandas as pd
from scipy import stats

# Load telecom customer data
df = pd.read_csv("https://raw.githubusercontent.com/IBM/telco-customer-churn-on-icp4d/master/data/Telco-Customer-Churn.csv")

# Descriptive Statistics
print("üìä Descriptive Statistics")
print("Mean Monthly Charges:", round(df['MonthlyCharges'].mean(), 2))
print("Median Monthly Charges:", round(df['MonthlyCharges'].median(), 2))
print("Standard Deviation:", round(df['MonthlyCharges'].std(), 2))

# Correlation
print("\nüîó Correlation (tenure vs MonthlyCharges):")
corr = df[['tenure', 'MonthlyCharges']].corr().iloc[0,1]
print(f"{corr:.3f}")

# Hypothesis Testing
print("\nüß™ Hypothesis Test: Do churned customers pay more?")
churn_yes = df[df['Churn'] == 'Yes']['MonthlyCharges']
churn_no = df[df['Churn'] == 'No']['MonthlyCharges']
t_stat, p_val = stats.ttest_ind(churn_yes, churn_no, equal_var=False)
print(f"p-value: {p_val:.4f}")
if p_val < 0.05:
    print("‚úÖ Yes! Churned customers pay significantly more.")
else:
    print("‚ùå No significant difference.")

üìä Descriptive Statistics
Mean Monthly Charges: 64.76
Median Monthly Charges: 70.35
Standard Deviation: 30.09

üîó Correlation (tenure vs MonthlyCharges):
0.248

üß™ Hypothesis Test: Do churned customers pay more?
p-value: 0.0000
‚úÖ Yes! Churned customers pay significantly more.

In [ ]:
# 02_variables_loops.ipynb

# Variables & Data Types
name = "Rahul"
age = 28
is_student = True
scores = [85, 90, 78, 92]

print("Name:", name)
print("Age:", age)
print("Is Student?", is_student)
print("Scores:", scores)

# Loops
print("\nüìö Scores with loop:")
for i, score in enumerate(scores, 1):
    print(f"Test {i}: {score}")

# Conditionals
print("\nüéØ Performance:")
avg = sum(scores) / len(scores)
if avg >= 90:
    print("Grade: A")
elif avg >= 80:
    print("Grade: B")
else:
    print("Grade: C")

# Function
def greet(name):
    return f"Hello, {name}! Welcome to Data Science."

print("\nüëã", greet(name))

Name: Rahul
Age: 28
Is Student? True
Scores: [85, 90, 78, 92]

üìö Scores with loop:
Test 1: 85
Test 2: 90
Test 3: 78
Test 4: 92

üéØ Performance:
Grade: B

üëã Hello, Rahul! Welcome to Data Science.

In [ ]:
# 03_pandas_basics.ipynb
import pandas as pd

# Create DataFrame
data = {
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Rahul', 'Priya', 'Amit', 'Neha', 'Suresh'],
    'age': [28, 32, 45, 29, 38],
    'city': ['Delhi', 'Mumbai', 'Bangalore', 'Delhi', 'Chennai'],
    'spend': [1200, 800, 2000, 950, 1500]
}
df = pd.DataFrame(data)

print("üìä Original Data:")
print(df)

# GroupBy
print("\nüßÆ Avg Spend by City:")
print(df.groupby('city')['spend'].mean())

# Filtering (SQL-like)
print("\nüîç Customers from Delhi:")
delhi_customers = df[df['city'] == 'Delhi']
print(delhi_customers)

# Merge (JOIN)
discounts = pd.DataFrame({
    'city': ['Delhi', 'Mumbai', 'Bangalore'],
    'discount_pct': [5, 3, 7]
})
merged = pd.merge(df, discounts, on='city', how='left')
print("\nüîÑ After JOIN with discounts:")
print(merged)

üìä Original Data:
   customer_id    name  age       city  spend
0            1   Rahul   28      Delhi   1200
1            2   Priya   32     Mumbai    800
2            3    Amit   45  Bangalore   2000
3            4    Neha   29      Delhi    950
4            5  Suresh   38    Chennai   1500

üßÆ Avg Spend by City:
city
Bangalore    2000.0
Chennai      1500.0
Delhi        1075.0
Mumbai        800.0
Name: spend, dtype: float64

üîç Customers from Delhi:
   customer_id   name  age   city  spend
0            1  Rahul   28  Delhi   1200
3            4   Neha   29  Delhi    950

üîÑ After JOIN with discounts:
   customer_id    name  age       city  spend  discount_pct
0            1   Rahul   28      Delhi   1200           5.0
1            2   Priya   32     Mumbai    800           3.0
2            3    Amit   45  Bangalore   2000           7.0
3            4    Neha   29      Delhi    950           5.0
4            5  Suresh   38    Chennai   1500           NaN